<!DOCTYPE html>
<html>

<head>
    <title>M-Drive Web Interface</title>
    <style>
        body { font-family: monospace; }
        h1 { text-align: center;}
    </style>
</head>

<!--M Drive web interface-->
<body>
    <h1>M-Drive Arduino Interface</h1>
    <fieldset>
        <h2>Incremental Angle Movement</h2>
        <form name="incrementalForm" method="post"
              onsubmit="return validateIncremental()"
              action="{{ url_for('handleIncremental') }}">
            <h3>Angle Increment</h3>
                <input type="number" name=incAngle id="incAngle"
                        min="-90" max="90" step="0.1">
            <h3>Single/Continuous Increments</h3>
                <input type="radio" name="cts" value="f" checked> Single
                <input type="radio" name="cts" id="cts" value="t"> Continuous
            <h3>Stop Angle</h3>
                <input type="number" name="stopAngle" id="stopAngle"
                        min="-90" max="90" step="0.1">
            <br><br>
                <input type="submit" value="Submit">
        </form>
    </fieldset>
    <br><br>
    <fieldset>
        <h2>Specific Angle Movement</h2>
        <form name="specificForm" method="post"
              onsubmit="return validateSpecific()"
              action="{{ url_for('handleSpecific') }}">
            <h3>Angle</h3>
                <input type="number" name="angle" id="angle"
                        min="-90" max="90" step="0.1">
            <br><br>
                <input type="submit" value="Submit">
        </form>
    </fieldset>
</body>

<!--Validate with javascript-->
<script src="{{ url_for('static', filename='validate.js') }}"></script>

</html>
